@import url("https://fonts.googleapis.com/css?family=Rubik&display=swap");

.footerLarge-container-fluid {
  overflow: hidden;
  font-family: "Rubik", sans-serif;
  background: #d1d1d1;
  color: #000000d0 !important;
  margin-bottom: 0;
  padding-bottom: 0;
  font-size: 1.3rem;
  cursor: default;
}

small {
  font-size: calc(
    12px + (15 - 12) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.bold-text {
  color: #000000c7 !important;
}

.mt-55 {
  margin-top: calc(
    50px + (60 - 50) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.h3 {
  font-size: calc(34px + (40 - 34) * ((100vw - 360px) / (1600 - 360)));
}

.social {
  font-size: 21px !important;
}

.rights {
  font-size: calc(
    10px + (12 - 10) * ((100vw - 360px) / (1600 - 360))
  ) !important;
}

.footerLarger__link-div {
  display: flex;
  flex-flow: column;
}

.footerLarger__link-div > p > a {
  color: #000000d0;
}

.footerLarger__link-div > p > a:hover {
  color: #000000;
  font-weight: bold;
  text-decoration: none;
}
