.header__background {
  background: radial-gradient(circle, #750fbc 72%, rgba(0, 0, 0, 1) 100%);
  background-position: left;
  background-size: cover;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  font-family: "Exo 2";
  max-height: 9rem;
  user-select: none;
}

.header__div {
  display: flex;
}

.header__main-div {
  display: flex;
  flex-shrink: 0;
  flex: 85%;
  max-height: 9rem;
  overflow: hidden;
  padding-right: 5rem;
}

/* brand */

.header__brand-div {
  flex: 35%;
  width: 100%;
  font-size: 3rem;
  display: flex;
}

.header__brand {
  text-align: left;
  padding: 2rem;
  color: #f3f7f7;
}

.header__brand:hover,
.header__brand:focus {
  color: rgb(255, 255, 255);
  text-decoration: none;
}

/* main */

.header__main-nav-div {
  flex: 40%;
  display: flex;
  align-items: center;
  width: 100%;
}

.header__main-nav-div > a > button {
  animation: header__button-animation 300ms 30ms ease-in-out forwards;
  background-color: transparent;
  border: none;
  width: 100%;
  text-align: center;
  padding: 2rem 0;
  margin-top: 0.5rem;
}

.header__main-nav > button > div > i {
  pointer-events: none;
  width: 100%;
  font-size: 2.3rem;
}

.header__main-nav {
  font-size: 1.7rem;
  font-weight: 300;
  flex: 1;
  color: #f3f3f3;
  position: relative;
}

/* sub */

.header__sub-div {
  flex: 25%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.header__sub-nav {
  background-color: transparent;
  border: 0;
}

.header__sub-nav > div {
  display: flex;
  color: #f3f3f3;
  flex-direction: column;
  margin: 0 0.5rem;
}

.header__sub-nav > div > i {
  font-size: 2rem;
}

.header__sub-nav > div > p {
  margin: 0;
  font-size: 1.2rem;
}

.header__sub-nav::after {
  content: none;
}

.header__notification-dropdown {
  max-height: 60vh;
  overflow-y: auto;
  border-radius: 0.5rem;
  padding: 0;
}

.header__profile-dropdown {
  border-radius: 0.5rem;
  padding: 0;
}

.header__no-notifications-div {
  width: 50rem;
  font-size: 2rem;
  text-align: center;
  padding: 2rem;
  font-weight: 700;
}

.header__notification-title > h2 {
  text-transform: uppercase;
  font-weight: 900;
  font-size: 1.5rem;
  padding: 1rem;
}

.header__no-notifications-div > h3 {
  font-weight: 700;
}

.header__unread-count {
  font-size: 1.8rem !important;
  position: absolute;
  top: -0.5rem;
  right: calc(50% - 1.5rem);
  color: rgb(255, 44, 44);
}

.header__unread-count > span {
  position: absolute;
  font-size: 1.5rem;
  color: rgb(255, 255, 255);
  left: 0.5rem;
  top: 0.15rem;
}

/* active  */

.header__main-nav-div > a > button.active {
  color: #750fbc;
  font-size: 2rem;
  font-weight: bolder;
  padding: 0.5rem 0;
  margin-top: 1.3rem;
  border-top-left-radius: 2rem;
  font-weight: 900;
  border-top-right-radius: 2rem;
  animation: header__active-button-animation 300ms 30ms ease-in-out forwards;
}

.header__main-nav-div > a > button.active > div {
  pointer-events: none;
}

.header__main-nav-div > a > button.active > div > i {
  font-size: 3.5rem;
}

.header__sub-nav > div > p {
  margin: 0;
  font-size: 1.2rem;
}

.header__sub-nav:focus {
  box-shadow: none;
}

/* fancy  */

.header__main-nav-div > a > button.active::after,
.header__main-nav-div > a > button.active::before {
  content: "";
  position: absolute;
  bottom: 1px;
  width: 2em;
  height: 2em;
  background: #750fbc;
  border-radius: 50%;
  pointer-events: none;
  z-index: 10;
}

.header__main-nav-div > a > button.active::after {
  left: -2em;
}

.header__main-nav-div > a > button.active::before {
  right: -2em;
}

.header__main-nav-div > a > button.active > div::after,
.header__main-nav-div > a > button.active > div::before {
  content: "";
  position: absolute;
  bottom: 0px;
  width: 1em;
  height: 1em;
  pointer-events: none;
  z-index: 9;
  animation: header__active-button-animation 300ms 30ms ease-in-out forwards;
}

.header__main-nav-div > a > button.active > div::after {
  left: -0.9em;
}

.header__main-nav-div > a > button.active > div::before {
  right: -0.9em;
}

@keyframes header__active-button-animation {
  0% {
    transform: translateY(100%);
  }
  80% {
    transform: translateY(0%);
    background-color: white;
  }
  100% {
    transform: translateY(0);
    background-color: white;
  }
}

@keyframes header__button-animation {
  0% {
    transform: translateY(-100%);
  }
  80% {
    transform: translateY(0%);
    background-color: transparent;
    color: white;
  }
  100% {
    transform: translateY(0);
    background-color: transparent;
    color: white;
  }
}
