.fprequest__main {
  background: linear-gradient(
    0deg,
    #750fbc 0%,
    #750fbc 50%,
    rgba(255, 255, 255, 1) 50%,
    rgba(255, 255, 255, 1) 100%
  );
  padding-top: 25rem;
  height: 100vh;
}

.fprequest__main-div {
  padding: 10rem 30rem;
  background-color: #f3f7f7;
  border: 1px solid #750fbc;
  position: relative;
}

.fprequest__main-div > i {
  font-size: 6rem;
  text-align: center;
  width: 100%;
}

.fprequest__main-div > h2 {
  font-size: 3rem;
  text-align: center;
  width: 100%;
}

.fprequest__main-div > p {
  font-size: 1.5rem;
  text-align: center;
  width: 100%;
}

.fprequest__input-div {
  margin-top: 5rem;
  width: 100%;
}

.fprequest__input-div > input {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-bottom: 1rem;
}

.fprequest__input-div > button {
  width: 100%;
  font-size: 1.5rem;
  padding: 0.5rem;
  margin-top: 1rem;
}

.alert-div {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
}
